#tabella {
  margin-left: 90px;
  width: 50%;
}

#tabella l {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#myTable {
  width: 100%;
  height: 400px;
  font-size: 20px;

}

#myTable th, #myTable td {
  border: 1px solid #d4c9c9;
  color: black;
  padding: 8px;
  text-align: center;
  background-color: white;
}

#myTable th {
  background-color: #411705;
  color: white;
}


#grafici{
  width: 50%;
  margin-top: 50px;
  color:black;
  margin-right: 90px;
}
#grafici l{
  font-size: 2em;
}
#second{
    width: 100%;
    /*background-image: url(terra3.jpg);*/
    background-size:contain;
    justify-content: center;
    align-items: center;

}
#second2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

l{
    font-weight:bold;
  font-size: 20px;
}

body{
  width: 100%;
  height: 100%;
  text-align: center;

}

  .dashboard {
    text-align: center;
    background-image: url(terra3.jpg);
    background-size: contain;

  }

  .dashboard-header {
    color: white;
    padding: 10px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Modificato per allineare i contenuti in alto */
    padding: 20px;
    box-sizing: border-box;
  }

  .sensor {
    margin: 0 10px;
    width: 300px;
    height: 450px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .image img {
    max-width: 87%;
    max-height: auto;
    border-radius: 8px;
  }

  .sensor-header {
    font-size: 36px;
    margin-top: 10px;
    
  }

  .sensor-value {
    font-size: 30px;
    font-weight: bold;
  }

  .sensor-footer {
    font-size: 15px;
    color: #777;
  }
  #sensor-footer-Water{
    font-size: 15px;
    color: #777;
  }

  .chart-container {
    margin-top: 20px;
  }
  
#ts{
  color: white;
  font-size: 25px;
  padding-bottom: 20px;
}

#title{
  font-size: 70px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}