#tabella {
  margin: 20px;
  color: white;
}

#tabella l {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
}

#myTable th, #myTable td {
  border: 1px solid #d4c9c9;
  color: black;
  padding: 8px;
  text-align: center;
  background-color: white;
}

#myTable th {
  background-color: rgb(115, 49, 6);
  color: white;
}


#grafici{
  margin-left: 30px;
  margin-top: 50px;
  color:white;
}
#second{
    width: 100%;
    background-image: url(terra.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

}
#second2{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

l{
    font-weight:bold;
 margin-left:140px; 
  font-size: 20px;
}

body{
  width: 100%;
  height: 100%;
  text-align: center;

}

  .dashboard {
    text-align: center;
    background-color: white;

  }

  .dashboard-header {
    background-color: #3498db;
    color: white;
    padding: 10px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Modificato per allineare i contenuti in alto */
    padding: 20px;
    box-sizing: border-box;
  }

  .sensor {
    margin: 0 10px;
    width: 400px;
    height: 550px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }

  .sensor-header {
    font-size: 18px;
    margin-top: 10px;
    overflow: hidden;
  }

  .sensor-value {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }

  .sensor-footer {
    font-size: 14px;
    color: #777;
  }

  .chart-container {
    margin-top: 20px;
  }
  

